/* variables */
:root {
    --black: #1f1f1f;
    --white: #fbfaf9;
    --gray: #c6c6c6;
    --orange: #f49546;
    --blue: #5795f2;
    --beige: #f1f1e8;
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--beige);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

/* pc */
h1 {
    font-size: 96px;
    font-weight: 300;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(20px);
    z-index: 100;

    transition: opacity 1s ease;
}

.modal.hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-content {
    background-color: var(--white);
    color: var(--black);
    padding: 2rem;
    text-align: center;
    max-width: 300px;
    border-radius: 14px;
}

.modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-content button {
    background-color: var(--blue);
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
}

.text {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text .title {
    margin-bottom: 120px;
}

.intensity {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intensity p {
    margin-bottom: 45px;
}

.intensity .slidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intensity .operation {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.intensity #minus,
.intensity .bar {
    margin-right: 33px;
}

.intensity .line {
    width: 240px;
    border: 1px solid var(--black);
    position: relative;
}

.intensity .circle {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    position: absolute;
    top: -5px;
}

.intensity .ticks {
    display: flex;
    font-size: 16px;
    font-weight: 300;
}

.intensity .ticks li:not(:last-child) {
    margin-right: 38px;
}

.clock {
    position: relative;
}

#pivot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--gray);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -7px -7px;
    z-index: 10;
}

#hour, #minute, #second {
    background-color: var(--orange);
    position: absolute;
    top: 50%;
    left: 50%;
}

#hour {
    width: 130px;
    height: 6px;
    border-radius: 3px;
    translate: -3px -3px;
    transform: rotate(-90deg);
    transform-origin: 3px 3px;
}

#minute {
    width: 190px;
    height: 6px;
    border-radius: 3px;
    translate: -3px -3px;
    transform: rotate(-90deg);
    transform-origin: 3px 3px;
}

#second {
    width: 220px;
    height: 4px;
    border-radius: 2px;
    translate: -2px -2px;
    transform: rotate(-90deg);
    transform-origin: 2px 2px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 82px;
    }

    p {
        font-size: 18px;
    }

    .text {
        margin-right: 0;
        margin-left: 10px;

    }

    .text .title {
        margin-bottom: 100px;
    }

    .intensity p {
        margin-bottom: 30px;
    }

    .operation {
        margin-bottom: 10px;
    }

    .operation #minus, .operation .bar {
        margin-right: 25px;
    }

    .clock {
        scale: 60%;
        margin: -50px;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    
    p {
        font-size: 16px;
        font-weight: 300;
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        padding: 0 0;
        margin: 0 0;
        flex-direction: column;
    }
    
    .text {
        margin: 0;
        position: relative;
        gap: 280px;
    }
    
    .text .title {
        margin-bottom: 0;
        text-align: center;
    }
    
    .clock {
        position: absolute;
        scale: 40%;
        margin-top: 50px;
    }

    .intensity p {
        margin-bottom: 18px;
    }
    
    .intensity .operation {
        margin-bottom: 8px;
    }
    
    .intensity #minus,
    .intensity .bar {
        margin-right: 22px;
    }
    
    .intensity .line {
        width: 170px;
        border: 1px solid var(--black);
    }
    
    .intensity .ticks li:not(:last-child) {
        margin-right: 24px;
    }
}